.bg-image {
  display: flex;
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: cover;
  background-image: url('~src/assets/champions/bg.jpeg');
  position: fixed;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 340px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #fff;
    background-color: rgb(0 0 0 / 63%);

    img {
      margin-bottom: 20px;
    }

    .form-group {
      display: flex;
      width: 100%;
      flex-direction: column;
      color: #fff;

      .label {
        font-weight: 600;
      }

      input {
        color: #fff;
        padding: 7px;
        border-radius: 4px;
        border: 1px solid #fff;
        background-color: transparent;
      }

      input:focus {
        outline: none;
      }

      ::placeholder {
        color: #fff;
      }

      .mat-hint {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        margin-top: 10px;
      }
    }

    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;
      color: #000;
      background-color: #fff;
    }
  }
}

.container-cards {
  width: 100%;
  margin-top: 150px;

  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
  }

  .card-deck {
    display: grid!important;
    grid-template-columns: repeat(4,1fr)!important;
    gap: 30px!important;
    height: 600px;
    overflow-y: scroll !important;
    padding-right: 20px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .card {
    width: 100% !important;
    background-color: transparent !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .card-body {
    border: 1px solid #fff;
    background-color: rgb(0 0 0 / 63%);
  }

  .card.ng-star-inserted {
    background-color: transparent !important;
  }

  h5.card-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  a.list-group-item.list-group-item-action {
    color: #fff;
    background: transparent !important;
    border: 1px dashed !important;
    margin: 5px 0 !important;
    transition: .3s all;
  }

  a.list-group-item.list-group-item-action:hover {
    background: #ffffff45 !important;
  }

  .card-deck::-webkit-scrollbar {
    width: 4px;
  }

  .card-deck::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgb(0 0 0 / 63%);;
  }
  
  .card-deck::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #fff;
  }


}

.banner {
  display: flex;
  width: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  position: absolute;

  img {
    width: 80%;
    height: 100%;
  }
}