<div class="bg-image">
  <div class="banner" *ngIf="championshioInfo">
    <img src="assets/champions/logo-banner.png" alt="">
  </div>
  <div class="container">
    <form class="login" *ngIf="!championshioInfo">
      <img src="assets/champions/logo.png" width="80">
        <div class="form-group">
            <label class="label">Ingrese PIN</label>
            <input matInput [formControl]="pin" />
            <mat-hint>Ej: 123ABC</mat-hint>
        </div>
        <button mat-raised-button color="primary" (click)="getChampionshipInfo()">
          Aceptar
        </button>
    </form>
    <div class="container-cards" *ngIf="championshioInfo">
      <h2>{{ championshioInfo.name }}</h2>
      <div class="card-deck">
        <div class="card" *ngFor="let team of championshioInfo.teams">
          <!--<img class="card-img-top" src="..." alt="Card image cap">-->
          <div class="card-body">
            <h5 class="card-title">{{ team.name }}</h5>
            <div class="card-text">
              <div
                class="list-group list-group-flush"
                *ngFor="let member of team.members"
              >
                <a
                  href="{{ team.gamehash.game.url }}?hash={{
                    team.gamehash.gamehash
                  }}&email={{ member.email }}"
                  class="list-group-item list-group-item-action"
                >
                  {{ member.name }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
