<h1>Seleccionar juegos</h1>

<div class="main-games">
  <div class="main-games__child">
    <div class="main-thumbnail">
      Ifinity
    </div>
  </div>
  <div class="main-games__child">
    <div class="main-thumbnail">
      Juego de Espias
    </div>
  </div>
  <div class="main-games__child">
    <div class="main-thumbnail">
      El Mago Leclerc
    </div>
  </div>
</div>

<div class="send">
  <button class="btn btn--primary">Enviar Invitación</button>
</div>
