.main-games {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  .main-thumbnail {
    display: flex;
    width: 100%;
    height: 180px;
    font-size: 14px;
    font-weight: 600;
    color: #4242427a;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: white;
  }
}

.send {
  margin-top: 100px;
  text-align: center;
}
