.bg-image {
    display: flex;
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-size: cover;
    background-image: url('~src/assets/champions/bg.jpeg');
    position: fixed;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .login {
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 450px;
      justify-content: center;
      align-items: center;
      padding: 40px;
      border: 1px solid #fff;
      background-color: rgb(0 0 0 / 63%);
  
      img {
        margin-bottom: 20px;
      }
  
      .form-group {
        display: flex;
        width: 100%;
        flex-direction: column;
        color: #fff;
  
        .label {
          font-weight: 600;
        }
  
        input {
          color: #fff;
          padding: 7px;
          border-radius: 4px;
          border: 1px solid #fff;
          background-color: transparent;
        }
  
        input:focus {
          outline: none;
        }
  
        ::placeholder {
          color: #fff;
        }
  
        .mat-hint {
          font-size: 13px;
          font-weight: 400;
          color: #fff;
          margin-top: 10px;
        }
      }
  
      mat-form-field {
        width: 100%;
      }
  
      button {
        width: 100%;
        color: #000;
        background-color: #fff;
      }
    }
  }