<div class="bg-image">
  <div class="container">
    <form class="login">
      <img src="assets/champions/logo.png" width="80" />
      <div class="form-group">
        <label class="label">Ingrese PIN</label>
        <input matInput [formControl]="pin" />
        <mat-hint>Ej: 123ABC</mat-hint>
        <br>
        <label class="label">Email</label>
        <input matInput [formControl]="email" />
        <mat-hint>Ej: pepe@email.com</mat-hint>
      </div>
      <button mat-raised-button color="primary" (click)="getChampionshipInfo()">
        Aceptar
      </button>
    </form>
  </div>
</div>
