<div class="title-between">
  <h1>Agregar jugadores</h1>
  <button class="btn btn--outline">Cargar Excel</button>
</div>

<form>
  <div class="main-three">
    <div class="main-three__child">
      <div class="form-group">
        <label class="form-group__label">Nombre</label>
        <input type="text" class="form-group__input">
      </div>
    </div>
    <div class="main-three__child">
      <div class="form-group">
        <label class="form-group__label">Email</label>
        <input type="text" class="form-group__input">
      </div>
    </div>
    <div class="main-three__child">
      <button class="btn btn--add">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="main-footer">
    <button type="submit" class="btn btn--primary">Continuar</button>
  </div>
</form>