.flex-wrapper {
    height: 100%
}

.mat-raised-button {
    padding: 6px 35px;
}

.login-box {
    background-color: #fff;
    border-radius: 10px;
    margin: 25px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}