<div class="login-box">
    <div class="layout-wrapper">
        <button mat-raised-button (click)="signInWithGoogle()"><mat-icon svgIcon="google"></mat-icon> Ingresar con Google</button>
    </div>
</div>