.d-double-content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 400px 1fr;
  position: fixed;

  &__left {
    padding: 40px;
    background-color: #fff;

    .brand {
      margin-bottom: 50px;
      padding: 0 40px;
    }
  }

  &__right {
    padding: 140px 140px 40px;
    background-color: #f3f4f7;
  }

  .steps-list {
    margin-top: 100px;
    padding: 0 40px;

    &__child {
      display: flex;
      font-size: 12px;
      font-weight: 700;
      color: rgb(139 145 165 / 50%);
      cursor: pointer;
      align-items: center;
      text-transform: uppercase;
      padding: 20px 0;

      span {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 20px;
        border-radius: 50%;
        border: 2px solid rgb(139 145 165 / 20%);
      }

      &:focus {
        outline: none;
      }
    }

    .active {
      color: rgb(139 145 165 / 100%);

      span {
        width: 18px;
        height: 18px;
        border: 2px solid #30cd1a;
      }
    }
  }
}