<h1>Configuración</h1>
<form [formGroup]="form">
    <div class="main-double">
        <div class="main-double__child">
            <div class="form-group">
                <label class="form-group__label">Idioma del juego</label>
                <input type="text" class="form-group__input">
            </div>
            <div class="form-group">
                <label class="form-group__label">Cantidad de jugadores</label>
                <input type="number" formControlName="numberPlayers" class="form-group__input">
            </div>
            <div class="form-group">
                <label class="form-group__label">Cantidad de equipos</label>
                <input type="number" formControlName="numberTeams" class="form-group__input">
            </div>
        </div>
        <div class="main-double__child">
            <div class="form-group">
                <label class="form-group__label">Fechas de inicio</label>
                <input type="text" formControlName="startDates" class="form-group__input">
            </div>
            <div class="form-group">
                <label class="form-group__label">Fechas de termino</label>
                <input type="text" formControlName="endDates" class="form-group__input">
            </div>
        </div>
    </div>
    <div class="main-footer">
        <button type="submit" class="btn btn--primary">Continuar</button>
    </div>
</form>