/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #424242;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #f3f4f7;
}

.main-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.main-three {
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  gap: 50px;
}

h1 {
  font-size: 28px;
  color: #777e95;
  margin-bottom: 50px;
}

form {
  position: relative;
}

.form-group {
  margin-bottom: 30px;

  &__label {
    display: block;
    font-size: 11px;
    font-weight: 700;
    color: rgb(119 126 149 / 86%);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
  }

  &__input:focus {
    outline: none;
  }
}

.main-footer {
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: flex-end;
  position: absolute;
}

.btn {
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 22px;
  border: none;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

.btn--primary {
  color: #fff;
  background-color: #075df8;
}

.btn--outline {
  color: #075df8;
  border: 1px solid #075df8;
  background-color: transparent;
}

.btn--add {
  max-width: 40px;
  color: #30cd1a;
  top: 34px;
  padding: 10px 12px;
  border: 1px solid #30cd1a;
  background-color: transparent;
  position: relative;
}


.title-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
