<div class="container">
  <div class="header">
    <div class="brand">
      <img src="assets/images/colgate.jpg" alt="">
    </div>
    <div class="detail">
      <strong>Hola, Colgate</strong>
      <span>Jugadoeres 6</span>
      <span>Idioma: Español</span>
    </div>
    <div class="time">
      <button class="btn btn--outline">Quedan 15 días</button>
    </div>
  </div>
  <div class="games-grid">
    <div class="games-grid__child active">
      <img src="assets/images/infinity.png" alt="">
    </div>
    <div class="games-grid__child">
      <img src="assets/images/juego-de-espias.jpg" alt="">
    </div>
    <div class="games-grid__child">
      <img src="assets/images/elmagolecrec.jpeg" alt="">
    </div>
    <div class="games-grid__child">
      <img src="assets/images/infinity.png" alt="">
    </div>
    <div class="games-grid__child">
      <img src="assets/images/juego-de-espias.jpg" alt="">
    </div>
  </div>
  <div class="ranking">
    <h2>Ranking: Ifinity</h2>
    <div class="spinner">
      <i class="fas fa-spinner"></i>
      Ranking no disponible
    </div>
  </div>
</div>