.header {
  display: grid;
  grid-template-columns: 100px 500px 1fr;
  gap: 30px;
  height: 130px;
  margin: 40px 0;
  padding: 20px 50px 20px 20px;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;

  .brand {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    background-color: #eee;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;

    strong {
      margin-bottom: 4px;
    }

    span {
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 4px;
      color: rgba(119, 126, 149, 0.86);
    }
  }

  .time {
    display: flex;
    justify-content: flex-end;
  }
}

.games-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 200px;
  gap: 40px;
  margin-bottom: 50px;
  
  .games-grid__child {
    overflow: hidden;
    opacity: .4;
    border-radius: 4px;
    background-color: #fff;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .active {
    opacity: 1;
  }
}

.ranking {
  height: 330px;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 4px;
  background-color: #fff;
}

h2 {
  font-size: 15px;
  color: #777e95;
}

.ranking-list {
  display: flex;
  justify-content: space-between;
}

.spinner {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 60px 0;
  color: #777e95;

  i {
    font-size: 40px;
    margin-bottom: 23px;
  }
}